* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  color: #fff;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
}
.logo-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background: rgba(28, 17, 41, 0.88);
}
.menubar {
  height: 87.5vh;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
}
.toggle-theme-btn {
  position: absolute;
  bottom: 30px;
  left: 20px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
.toggle {
  margin-left: 15px;
}
#content {
  height: 90vh;
  overflow-y: auto;
}
#breadcrumb {
  position: sticky;
  top: 0;
  z-index: 10;
}

.ant-table {
  width: 100%;
  overflow-x: auto;
}
.cursor-pointer {
  cursor: pointer;
}
.bg-certificate {
  background: #26a69a;
  color: #fff;
}
.bg-stocks {
  background: #ec407a;
  color: #fff;
}
.ant-card-head-title {
  color: #fff;
}
.ant-layout-header {
  padding: 0;
}

.top-bar {
  height: 5vw;
}
.ant-layout-header {
  background: rgb(49 48 48);
  color: white;
}
#content::-webkit-scrollbar {
  display: none;
}
.bg-dark-blue {
  background: #001529 !important;
}

@media (max-width: 767px) {
  .top-bar{
    height: 15vw;
  }
}